[submodule "aIBoard.jl"]
	path = aIBoard.jl
	url = git@github.com:lorebalbo/aIBoard.jl.git
	branch = main
[submodule "aIBoard-Frontend"]
	path = aIBoard-Frontend
	url = git@github.com:lorebalbo/aIBoard-Frontend.git
	branch = main
[submodule "aIBoard-Backend"]
	path = aIBoard-Backend
	url = git@github.com:lorebalbo/aIBoard-Backend.git
	branch = main
[submodule "aIBoard-WebSocket"]
	path = aIBoard-WebSocket
	url = git@github.com:lorebalbo/aIBoard-WebSocket.git
	branch = main
[submodule "docker-databases"]
	path = docker-databases
	url = git@github.com:lorebalbo/docker-databases.git
	branch = main
